@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  font-family: "Open Sans";
  margin: 3%;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

#searchField {
  margin-right: 1%;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 80px;
  border: 1px solid #9eabad;
  background: #4c676b;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.searchButton span.icon {
  background: url(imgs/icon.png) no-repeat;
  float: left;
  width: 10px;
}

.loading {
  display: flex;
}

li {
  list-style: none;
  border-bottom: 1px solid rgb(235, 231, 231);
  padding-bottom: 10px;
}

#searchOutput,
#loading {
  margin: 3% 0 0 2%;
}

h1 {
  display: flex;
  justify-content: center;
}

#searchLogos {
  height: 7%;
  width: 7%;
}

.searchResultItem {
  margin-left: auto;
}

#marquee {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

#marqueeText {
  display: flex;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#marqueeText:hover {
  animation-play-state: paused;
}

#changesPercentage {
  color: green;
}
